{% extends "devices/base.html" %}
{% block title %}Мои СИ{% endblock %}
{% block content %}

<h2>Мои средства измерений</h2>

<p>Вы видите только те СИ, где вы указаны как ответственное лицо.</p>

{% if devices %}
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Наименование</th>
                <th>Тип</th>
                <th>Заводской номер</th>
                <th>Диапазон</th>
                <th>Принадлежность</th>
                <th>Дата поверки</th>
                <th>Дата следующей поверки</th>
                <th>Статус</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr style="cursor: pointer;" onclick="window.location='{% url 'device_detail' device.pk %}'">
                <td>{{ device.name }}</td>
                <td>{{ device.device_type }}</td>
                <td>{{ device.serial_number }}</td>
                <td>{{device.measure_range  }} {{ device.measurement_unit }}</td>
                <td>{{ device.owner_department }}</td>
                <td>{{ device.last_calibration_date }}</td>
                <td>{{ device.next_calibration_date }}</td>
                <td><span class="badge {{ device.get_status_label_class }}">{{ device.get_status_display }}</span></td>
                <td>
                        <a href="{% url 'device_update' device.pk %}" class="btn btn-sm btn-outline-primary">✏️</a>
                        <a href="{% url 'device_delete' device.pk %}" class="btn btn-sm btn-outline-danger">🗑️</a>
                </td>
        </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">У вас пока нет назначенных средств измерения.</div>
{% endif %}
{% endblock %}